page-home {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  .card-title{
    top:80%;
    text-align: left;
    //width:0;
  }
  ion-card{
    max-height: 38%;
  }
  .welcome_text{
    padding: 6px;
  }
  .logo{
    width:100%;
    height: 28%;
  }
  .scroll-content{
    background: #fff;
  }
  .card-content-md{
    padding:0 0 0;
  }
}
